EEI-Homo-Sapiens-2024/3-EPPIC-based/eppic_log.txt
EEI-Homo-Sapiens-2024/results/
data/
EEI-Mus-Musculus/
EEI-Homo-Sapiens-2024/3-EPPIC-based
mm_RNA_seq_data/data
mm_RNA_seq_data/geo_data/Mus_musculus.GRCm39.114.gtf
mm_RNA_seq_data/geo_data/GSE101336_processed_matrix_FPKM.txt
mm_RNA_seq_data/geo_data/GSE165856_family.soft.gz
mm_RNA_seq_data/geo_data/GSE165856_Goncalves-MG-7833_2019_10_25_HTSeq.gene.counts.csv